{
  "env": {
    "development": {
      "presets": ["z-frontend"]
    },
    "test": {
      "presets": ["z-frontend/test"]
    },
    "production": {
      "presets": ["z-frontend/prod"]
    }
  }
}
