.DS_Store
.idea/
node_modules/
dist/
tmp/
npm-debug.log
lerna-debug.log
yarn-error.log

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

storybook-static/

coverage/
