.coveo-summary-section {
  margin: 0 15px !important;
}

.CustomCoveoResultTitle {
  font-family: Circular, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.CoveoDidYouMean {
  margin-top: 10px !important;
}

.coveo-list-layout.CoveoResult {
  border-bottom: none;
  padding-right: 16px !important;
}

.CoveoResultLink,
a.CoveoResultLink,
.CoveoResult a.CoveoResultLink {
  font-family: Circular, sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #009bc0;
}

.CoveoExcerpt {
  font-family: Circular, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
}

.CoveoQuerySummary {
  font-family: Circular, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  margin: 0 15px !important;
}

.coveo-pager-list-item {
  display: none;
}

.coveo-pager-anchor {
  display: inline-block;
  background: #d6dee9;
  padding: 5px 12px;
}

.coveo-pager-anchor:hover {
  background: #d6dee9;
}

.coveo-pager-next-icon-svg,
.coveo-pager-previous-icon-svg {
  width: 5px;
}

.CoveoResultList {
  border: 1px solid #d6dee9;
  border-radius: 0px 0px 1px 1px;
  padding: 15px 0 !important;
}

.coveo-result-header {
  border: 1px solid #d6dee9;
  border-radius: 0px 0px 1px 1px;
  border-bottom: none;
  padding: 15px 0 !important;
}

.coveo-result-footer {
  border: 1px solid #d6dee9;
  border-radius: 0px 0px 1px 1px;
  border-top: none;
  padding: 5px 0 !important;
}
